* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    padding: 30px;
  }
  
  form {
    width: 100%;
    height: 50px;
    display: flex;
    column-gap: 10px;
  }
  
  input,
  button {
    border: 1px solid rgb(176, 176, 176);
    border-radius: 10px;
  }
  
  input {
    width: 100%;
    padding: 0 15px;
    outline: none;
  }
  
  button {
    width: 100px;
    background-color: #49b1f1;
    color: white;
  }
  
  button:hover {
    background-color: #0f2e43;
  }
  
  ul {
    list-style: decimal-leading-zero;
    margin: 20px 10px;
  }
  
  li {
    border-bottom: 1px dotted lightgray;
    padding-bottom: 7px;
    margin-bottom: 7px;
  }