* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    height: 60px;
    border-radius: 15px;
    color: white;
    width: 200px;
    background-color: #356c7b;
    cursor: pointer;
    border: none;
    font-size: 20px;
}
button:hover {
    background-color: #77d6ff;
}

.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    row-gap: 20px;
    padding: 30px;
    border: 1px solid lightgray;
    border-radius: 7px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.2);
}